body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #001D3D;
    Color: #ffffff;
   
}
section{
    height: 100vh;
}

/* Header Section*/
/*add onscroll effects using Js*/
header{
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
}

nav{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
     

}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 100px;
}
li{
    list-style-type: none;
    margin-left: 10px;
}

/* Container*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/*LINKS in GENERAL*/
a{
    text-decoration: none;
}
a:link{
    color: #fff;
}
a:active{
    color: #fff;
}
a:visited{
    color: #fff;
}


/*Hero-Section*/
.hero-section{
    
    height: 100vh;
    width: 100%;
    background-image: url("bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    padding-left:100px;
   
}

h1{
    width: 80%;
    font-weight: 800;
    font-size: 150px;
    line-height: 1;
    
    
}

h1, p{
    margin: 0;
}

.hero-p{
    font-size: 24px;
    
}

.hero-btn{
    background-color: #db00b6;
    color: #fff;
    border:none;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 20px;
    margin-top: 40px;
}
.hero-btn:hover{
    
    transition: 0.5s;
    transform: scale(1.1);
}

/*Project Section*/
.projects-container{
    display: flex;
    height: 50vh;
    padding: 100px 20px;
}
.project-tile{
    background-color: rgba(255,255,255, 1);
    width: 300px;
    height: 500px;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    color: #001D3D;
}

.project-tile:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.project-icon{
    width: 200px;
    padding: 40px;
}

.project-btn{
    background-color: #ffc300;
    color:#001D3D;
    font-size: 18px;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    margin: 40px 0px;
}

/* SECTION HEADER */
.section-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

h3{
    font-size: 60px;
    margin-bottom:0;

}
hr{
    position: relative;
    background: gold ;
    height: 2px;
    border:2px solid gold;
    margin:0;
    width: 40px;
    align-self: flex-start;
    
}


/*ABOUT SECTION*/


/*FOOTER*/
.footer-p{
    font-size: 10px;
}