*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    
    Color: #ffffff;
}

/* Header Section*/
header{
    width: 100%;
    padding: 10px;
}
nav{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
     

}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 100px;
}
li{
    list-style-type: none;
    margin-left: 10px;
}

/* Container*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*Hero-Section*/

.hero{
    display: flex;
    flex-direction: row;
    background: url("/bg.svg");
    background-color: #001D3D;
}
.hero-column{
    margin: 100px;
}